<footer>
    <div class="footer-main"> 
      <div class="footer-welcome">
        <i class="fab fa-apple"></i>
        <i class="fas fa-chevron-right"></i>
        <p>Welcome to  Store</p>
      </div> <!-- end footer-welcome -->
      
      <div class="footer-ul">
        <ul>
          <li><h4>Shop and Learn</h4></li>
          <li><a href="#">Airpodes</a></li>
          <li><a href="#">pro series</a></li>
          <li><a href="#">pro 2 series</a></li>
          <li><a href="#">Apple Watch</a></li>
          <li><a href="#">smart watch</a></li>
          <li><a href="#">watch 8</a></li>
          <li><a href="#">series 8</a></li>
          <li><a href="#">iPhone adapter</a></li>
          <li><a href="#">PD adopter</a></li>
          <li><a href="#">3pin adapter</a></li>
        </ul>
        
        <ul>
          <li><h4>Apple Store</h4></li>
          <li><a href="#">Apple Store App</a></li>
          <li><a href="#">Apple accessories</a></li>
          <li><a href="#">Order Status</a></li>
          <li><a href="#">Shopping Help</a></li>
        </ul>
        
        <ul>
          <li><h4>For Education</h4></li>
          <li><a href="#">Apple and Education</a></li>
          <li><a href="#">Shop for College</a></li>
          <li id="mt"><h4>For Business</h4></li>
          <li><a href="#">Apple and Business</a></li>
          <li><a href="#">shop for Business</a></li>
        </ul>
        
        <ul>
          <li><h4>Account</h4></li>
          <li><a href="#">Manage Your Apple ID</a></li>
          <li><a href="#">Apple Store Account</a></li>
          <li><a href="#">iClound.com</a></li>
          <li id="mt"><h4>Apple Values</h4></li>
          <li><a href="#">Accessibility</a></li>
          <li><a href="#">Environment</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Supplier Responsibility</a></li>
        </ul>
        
        <ul>
          <li><h4>About Apple</h4></li>
          <li><a href="#">Newsroom</a></li>
          <li><a href="#">Investors</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Contact Apple</a></li>
        </ul>
      </div>
      
      <div class="footer-contact">
        <p>More ways to shop: visit an <a href="#">Apple Store, </a>Call 0304-432-431-4,0306-491-174-9 or <a href="#">find a seller</a></p>
      </div>
        <div class="footer-copyright">
        
        
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <div class="vr"></div>
          <li><a href="#">Terms of Use</a></li>
          <div class="vr"></div>
          <li><a href="#">Sales and Refunds</a></li>
          <div class="vr"></div>
          <li><a href="#">Legal</a></li>
          <div class="vr"></div>
          <li><a href="#">Sitemap</a></li>
        </ul>
          <div class="footer-lang">
        </div>
      </div>
      
    </div>
  </footer>